@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

/* Variables */
:root {
	--primary: #24273d;
	--bg-color: #171723;

	--text-color: rgb(164, 170, 216);
	--text-color10: rgb(164, 170, 216, 0.1);
	--text-color20: rgb(164, 170, 216, 0.2);
	--text-color30: rgb(164, 170, 216, 0.3);

	--white: #fff;
}

/* Resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Fonts */
h1,
h3,
input,
.submitBtn,
p {
	font-family: 'Josefin Sans', sans-serif;
}

p {
	font-size: 14px;
	font-weight: normal;
}

/* Base styles */
body {
	background-color: var(--bg-color);
}

header {
	margin: 25px;
}

header p {
	font-size: 20px;
	font-weight: bold;
	color: var(--white);
}

.img-banner {
	width: 100%;
	height: 215px;
	background-color: rgb(21, 0, 255);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
	background-image: url(./imgs/bloom-tratada-resize.png);
	background-position: center center;
	background-size: 130%;
	background-repeat: no-repeat;
}

.submitBtn {
	border: none;
	background-color: var(--primary);
	border-radius: 50%;
	cursor: pointer;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid var(--text-color30);
	color: var(--text-color);
	position: relative;
}

.circle > p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}

.myForm {
	background-color: var(--primary);
	height: 57px;
	margin: 10px;
	border-radius: 4px;
	display: flex;
	margin-top: 140px;

	/* put in the media query -> */
	max-width: 940px;
}

.myForm button {
	margin: 15px;
}

.myForm input {
	background-color: var(--primary);
	color: var(--text-color);
	width: 100%;
	border: none;
	border-radius: 4px;
}

.myForm input[type=text]:focus{
	outline: none;
}

.myForm input::placeholder {
	color: var(--text-color20);
}

.container {
	margin-top: 20px;
}

.container-item {
	border-bottom: 2px solid var(--text-color10);
	background-color: var(--primary);
	color: var(--text-color);
	align-items: center;
	display: flex;
	margin: 0 10px;
	height: 57px;
}

.container-item .circle {
	margin: 15px;
}

.container-item:nth-child(1) {
	border-radius: 4px 4px 0 0;
}

.list-options{
	
}

footer {
	display: flex;
	background-color: var(--primary);
	color: var(--text-color);
	margin: 0 10px;
	justify-content: space-between;
	padding: 15px;
	border-radius: 0 0 4px 4px;
}

footer p {
	font-size: 12px;
}

.clear{
	cursor: pointer;
}

/* Mobile styles*/
.todoList {
}

.myForm {
}

.container {
}
