/* Variables */
:root {
	--primary: rgb(26, 26, 39);
	--secondary: ;
}

/* Resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

h3,
input,
.submitBtn,
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h3,
.submitBtn {
	font-weight: 400;
}

p {
	font-size: 18px;
}

/* Base styles */
body {
	background: hsla(0, 0%, 27%, 1);

	background: linear-gradient(
		135deg,
		rgb(59, 59, 59) 0%,
		hsla(30, 8%, 15%, 1) 90%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#444444", endColorstr="#292623", GradientType=1 );
}

p {
	color: rgb(192, 192, 192);
}

.myForm {
	display: flex;
	justify-content: center;
}

input {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #ddd;
	padding: 3px 10px;
	color: rgb(0, 0, 0);
	border: none;
}

input:focus {
	outline: none;
	background-color: #fff;
}

.submitBtn {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #86a8e7;
	padding: 5px 12px;
	font-size: 16px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: none;
}

.fa-trash {
	color: rgba(190, 25, 25, 0.9);
}

.fa-pen-to-square {
	color: rgba(25, 190, 25, 0.9);
}

.red {
	color: rgb(0, 255, 136);
}

/* Mobile styles*/
.todoList {
	margin: 20px;
}

.myForm {
	background-color: var(--primary);
	padding: ;
	margin: 60px 0;
}

.container {
	background-color: var(--primary);
}

.container-item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.150);
}
/* Media queries */

/* 1. */
/* #8399A2 */
/* #EEF2F3 */

/* 2. */
/* #534C5A */
/* #2C1A3B */
